APP_ENV=local # development/staging/production
APP_REST_NATIVE_HOST=localhost
APP_REST_NATIVE_PORT=40001
APP_GRPC_HOST=localhost
APP_GRPC_PORT=50000
APP_READ_TIMEOUT=30s
APP_WRITE_TIMEOUT=30s
APP_GRACEFUL_TIMEOUT=30s
APP_NAME=example
APP_VERSION=1.0.0
APP_HOST=https://example.com